{% extends 'base.html.twig' %}

{% block title %}La Passerelle{% endblock %}

{% block body %}
    <div class="container text-center my-4">
        <div class="card mb-4 box-shadow mx-auto" style="max-width: 800px;">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Bienvenue</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title mb-4">Application de gestion de cours</h1>
                <p class="card-text">
                    Bienvenue sur l'application de gestion de cours. Cette application vous permet
					de gérer facilement les salles de classe, les enseignants et les étudiants, 
					simplifiant ainsi le processus de suivi et d'organisation des cours.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
